{% extends 'base.html.twig' %}

{% block title %}Edit Room{% endblock %}

{% block body %}
    {% include "_page_title.html.twig" with {'title': 'Rooms', 'main': 'Setting', 'current': 'Edit Room'} %}
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb4">Edit Room</h4>
                    {{ include('rooms/_form.html.twig', {'button_label': 'Update'}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

    