{% extends 'base.html.twig' %}

{% block title %}Device Checkup{% endblock %}

{% block body %}
    {% include "_page_title.html.twig" with {'title': 'Device Checkup', 'main': 'Home', 'current': 'Device Checkup'} %}
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Room #{{ device.roomid.name}}: {{ device.name }}<span class="float-end">{{ 'now'| date('Y-m-d')}}</span></h4>
                     {{ include('checkup/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}