<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>{% block title %}Welcome!{% endblock %} | Optica</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
		<link href="/css/icons.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
		<link href="/css/app.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
	</head>
	<body data-sidebar="dark">
		<div id="layout-wrapper">
			<header id="page-topbar">
				{% include "_header.html.twig" %}
			</header>
			<div class="vertical-menu">
				 {{ render(controller('App\\Controller\\BaseController::rooms')) }}
			</div>
			<div class="main-content">
				<div class="page-content">
					<div class="container-fluid">
						{% block body %}{% endblock %}
					</div>
				</div>
				<footer class="footer">
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-6">
								<script>document.write(new Date().getFullYear())</script> &copy; Optica.
							</div>
							<div class="col-sm-6">
								<div class="text-sm-end d-none d-sm-block">
									Design &amp; Develop by Appinsoft LLC
								</div>
							</div>
						</div>
					</div>
				</footer>
			</div>
		</div>
		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.bundle.min.js"></script>
		<script src="/js/metisMenu.min.js"></script>
		<script src="/js/simplebar.min.js"></script>
		<script src="/js/waves.min.js"></script>
		<script src="/js/app.js"></script>
	</body>
</html>