{% extends 'base.html.twig' %}

{% block title %}Edit Device{% endblock %}

{% block body %}
    {% include "_page_title.html.twig" with {'title': 'Devices', 'main': 'Setting', 'current': 'Edit Device'} %}
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Edit Device</h4>
                    {{ include('devices/_form.html.twig', {'button_label': 'Update'}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}