{% extends 'base.html.twig' %}

{% block title %}Password Change{% endblock %}

{% block body %}

{% include "_page_title.html.twig" with {'title': 'Password Change', 'main': 'User', 'current': 'Password Change'} %}
<div class="rows">
		<div class="col-xl-12">
			<div class="card">
				<div class="card-body">
                    <form id="password_change" action="{{ path('password')}}" class="form-material mt-5 mb-5" method="post">
                        <div class="row px-5">
                            <div class="col-sm-8 offset-sm-1">
                                <div class="row mb-3">
                                    <label class="col-sm-5 text-end control-label col-form-label">New Password:</label>
                                    <div class="col-sm-7">
                                        <input id="password" class="form-control" type="password" name="password" value="" required />
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-5 text-end control-label col-form-label">Password Repeat:</label>
                                    <div class="col-sm-7">
                                        <input id="password_repeat" class="form-control" type="password" name="password_repeat" value="" required />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 text-end">
                                        <button type="submit" class="btn btn-success waves-effect waves-light">Save</button>
                                    </div>
                                </div>
                                {% for message in app.flashes('info') %}
                                    <div class="row mt-4">
                                        <div class="col-sm-12">
                                            <div class="alert alert-primary" role="alert">
                                                {{ message }}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
