 {% extends 'base.html.twig' %}

{% block title %}Reports{% endblock %}

{% block body %}
    {% include "_page_title.html.twig" with {'title': 'Reports', 'main': 'Home', 'current': 'Reports'} %}
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <h5 class="card-header bg-transparent border-bottom">Single Device Report</h5>
                <div class="card-body">
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}